@use 'variables' as v;
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}

p {
    color: v.$dark;
    font-size: 2rem;
}

.container {
    width: 95%;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}