//=====================================
//  Fonts
//=====================================*/
$fuente_logo: 'Cinzel',
serif;
$fuente_textos: 'Halant',
serif;
//=====================================
//  Sizes
//=====================================*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
//=====================================
//  Colors
//=====================================*/
$blue: #007bff;
$orange: #fd7e14;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$light: #f8f9fa;
$dark: #343a40;
$yellow: #ffc107;