    @use 'base/variables' as v;
    @use 'base/mixins' as m;
    .header {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .banner {
        background-image: url(../img/inner-banner.jpg);
        width: 100%;
        height: 20rem;
        @include m.tablet {
            height: 30rem;
        }
    }
    
    .home {
        background-image: url(../img/b1.jpg);
        height: 60rem;
        @include m.tablet {
            height: 100vh;
        }
    }
    
    .container-header {
        background-color: rgb(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .bar {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        @include m.tablet {
            align-items: initial;
        }
        h2 {
            font-family: v.$font_logo;
            @include m.tablet {
                font-size: 3rem;
            }
        }
        .logo a,
        .logo_mobile a {
            color: v.$light;
            &:hover {
                color: v.$cyan;
            }
        }
    }
    
    .container-nav {
        display: flex;
        justify-content: space-between;
        margin-left: -20rem;
        .nav {
            gap: 2rem;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition-property: opacity;
            transition-duration: 500ms;
            @include m.tablet {
                visibility: visible;
                justify-content: space-between;
                opacity: 1;
            }
        }
        .btn__close-menu {
            display: none;
        }
        .menu-mobile,
        .dark-button {
            width: 2.5rem;
            margin: 2.5rem 0;
            margin: 0;
            margin-right: 2rem;
            filter: invert(100%);
            &:hover {
                cursor: pointer;
            }
        }
        @include m.tablet {
            gap: 2rem;
            .menu-mobile,
            .logo_mobile {
                display: none;
            }
        }
    }
    
    .nav_options {
        display: flex;
        a {
            color: darken($color: v.$light, $amount: 15%);
            text-align: center;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1.4rem;
            &.active {
                &::after {
                    content: '';
                    display: block;
                    width: 2.5rem;
                    height: .1rem;
                    background-color: v.$light;
                    margin-top: .2rem;
                }
            }
        }
        .active {
            &::after {
                content: '';
                color: v.$light;
                width: 3rem;
                height: .2rem;
            }
        }
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            gap: 5rem;
        }
    }
    
    .home-content,
    .banner-content {
        padding: 2rem;
    }
    
    .home-content {
        margin-bottom: 20rem;
        p,
        h1,
        a {
            color: v.$light;
        }
        h1 {
            margin: 1rem .5rem;
        }
        p,
        h1 {
            text-transform: capitalize;
        }
        p {
            font-family: v.$font_titles;
        }
        @include m.mobile {
            p {
                font-size: 2.6rem;
            }
            h1 {
                font-size: 4.5rem;
            }
        }
        @include m.tablet {
            margin-bottom: 39rem;
            max-width: 70%;
            width: 70rem;
            margin-left: 7rem;
            p {
                font-size: 2.6rem;
            }
            h1 {
                font-size: 5.5rem;
                text-transform: uppercase;
                margin-bottom: 3rem;
            }
        }
        @include m.desktop {
            margin-left: 24rem;
            margin-bottom: 36rem;
        }
        a {
            text-transform: uppercase;
            @include m.button (v.$cyan, v.$white, v.$orange);
            border-radius: .5rem;
            font-weight: 500;
        }
    }
    
    .banner-content {
        margin: auto 0 auto 7rem;
    }
    
    .title--custom {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3 {
            font-size: 2.4rem;
            text-transform: capitalize;
        }
        color: v.$light;
        p {
            color: v.$light;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: capitalize;
            span {
                font-weight: 100;
            }
            a {
                color: v.$light;
                &:hover {
                    color: v.$cyan;
                }
            }
        }
    }