@use 'base/variables' as v;
@use 'base/mixins' as m;
.header {
    padding: 0 3rem;
    background-position: center center;
    background-size: cover;
    &.home {
        height: 100vh;
        background-color: lighten($color: v.$yellow, $amount: 20%);
    }
}

.container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-header {
    height: 100%;
    .home-content {
        margin: auto auto;
        max-width: 75rem;
        p,
        h1 {
            color: v.$light;
        }
        p {
            text-transform: capitalize;
            font-size: 2.3rem;
            margin-bottom: 2rem;
        }
        h1 {
            text-transform: uppercase;
            font-size: 3.3rem;
            font-weight: 700;
        }
    }
    @include m.tablet {
        .home-content {
            p {
                font-size: 2.6rem;
            }
            h1 {
                font-size: 4rem;
            }
        }
    }
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        a {
            text-decoration: none;
            color: v.$light;
        }
        h2 {
            font-family: v.$fuente_logo;
            font-size: 2.8rem;
            &:hover {
                color: v.$blue;
            }
            @include m.mobile {
                font-size: 3.5rem;
            }
        }
    }
}

.container-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: v.$light;
            font-size: 1.9rem;
            font-weight: 500;
            margin-top: 1.2rem;
            text-transform: capitalize;
            &:hover {
                color: v.$cyan;
            }
        }
        @include m.tablet {
            flex-direction: row;
            gap: 3rem;
            margin: 0;
        }
        @include m.desktop {
            gap: 7rem;
        }
    }
}